<div style="padding-left:250px; padding-right:250px;">
    <div class="card-body shadow p-3   mx-5  my-5 " style="height: 370px; border-radius:15px; background-color: rgba(235, 231, 231, 0.692)">
        <h1 class="topic_title d-flex justify-content-center my-5"><b>Submit your Grievance</b></h1>
        <p  class="page_decription d-flex justify-content-center text-center my-5" style="font-size:20px">Your feedback matters. We're here to listen and address your concerns. 
          
            <br>Please share your grievance, and together, we can work towards a resolution that ensures your satisfaction and wellbeing.
        </p>
    
    

    <div>
    </div>
        <div class="button d-flex justify-content-center my-5" >
            <mat-dialog-actions>
                
                <button mat-raised-button (click)="openDialog()" color="primary">Generate Ticket</button>
            </mat-dialog-actions>
        </div>
    </div>
    </div>
    